.homeContainer {
  .wigetsContainer {
    display: flex;

    .widgets {
      border: 1px solid red;
      flex: 2;

      .generalWidgets{
        display: flex;
      }
    }
    
    .sidebar {
      flex: 1;
      border: 1px solid green;
      margin: 0 20px;
    }
  }
}
