.progressContainer {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:0px;
  margin: 40px 0 0 -20px;
  padding-right: 20px;
  padding-left: 20px;

  .subTitle {
    margin-top: 20px;
    padding-bottom: 0;
  }
}
