.salesContainer {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .progressBar {
    width: 17vw;
    margin: 15px;
  }

  .descriptionBlock {
    margin-bottom: 20px;

    span {
      color: grey;
      font-weight: bold;
    }
  }
}
